.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 60px 10px 10px;
  font-size: 30px;
  font-weight: 500;
  color: #ff9000;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("./img/icon-alert-error.svg");
  background-repeat: no-repeat;
  background-position: center top 10px;
  background-size: 50px 50px;
  border-radius: 15px;
  border: 5px solid #ff9000;
  z-index: 9999;
}
